<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Eventos Gerente</title>
</head>

<body>

<div class="container">

    <h3>Eventos</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Lugar</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Detalhes</th>
            <th>Quantidade Participantes</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="eventoTabela : ${eventos}">

            <td th:text="${eventoTabela.id}"></td>
            <td th:text="${eventoTabela.nome}"></td>
            <td th:text="${eventoTabela.lugar}"></td>
            <td th:text="${eventoTabela.dataInicio}"></td>
            <td th:text="${eventoTabela.horario}"></td>
            <td th:text="${eventoTabela.descricao}"></td>
            <td th:text="${eventoTabela.quantidadeReservas()}"></td>

            <!-- Add update button/link -->

        </tr>
        </tbody>
    </table>

        <form action="#" th:action="@{/addEvento}" th:object="${evento}" method="POST">

            <div class="input-group input-group-lg">
                <input type="text" th:field="*{lugar}" placeholder="lugar" class="form-control">
                <input type="text" th:field="*{nome}" placeholder="nome" class="form-control">
                <input type="date" th:field="*{dataInicio}" placeholder="data" class="form-control">
                <input type="text" th:field="*{horario}" placeholder="horário" class="form-control">
                <input type="text" th:field="*{descricao}" placeholder="descricao" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="botao-logar" style="color: white">Adicionar Evento</button>
                </div>

            </div>

        </form>

        <br><br>

        <form action="#" th:action="@{/removeEvento}" th:object="${evento}" method="POST">

            <div class="input-group input-group-lg">
                <input type="text" th:field="${evento.id}" placeholder="Digite seu PIN" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="botao-logar" style="color: white">Remover Evento</button>
                </div>

            </div>

        </form>

    <br><br>

    <form action="#" th:action="@{/atualizaEvento}" th:object="${eventoAtualizar}" method="POST">

        <div class="input-group input-group-lg">
            <input type="text" th:field="*{id}" placeholder="Digite seu PIN" class="form-control">
            <input type="text" th:field="*{lugar}" placeholder="lugar" class="form-control">
            <input type="text" th:field="*{nome}" placeholder="nome" class="form-control">
            <input type="date" th:field="*{dataInicio}" placeholder="data" class="form-control">
            <input type="text" th:field="*{horario}" placeholder="horário" class="form-control">
            <input type="text" th:field="*{descricao}" placeholder="descricao" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn" id="botao-logar" style="color: white">Atualizar Evento</button>
            </div>

        </div>
        <span style="color: #cb2d51" th:each="err : ${#fields.allErrors()}" th:text="${err}"></span>
        <span style="color: #cb2d51" th:if="${errorMessage}" th:text="${errorMessage}">Error</span>

    </form>

</div>

</body>
</html>