<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Evento Especifico</title>
</head>

<body>

<div class="container">

    <h3>Evento Escolhido</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Lugar</th>
            <th>Data</th>
            <th>Horario</th>
            <th>Descrição</th>
        </tr>
        </thead>

        <tbody>
        <tr >

            <td th:text="${evento_escolhido.nome}" />
            <td th:text="${evento_escolhido.lugar}" />
            <td th:text="${evento_escolhido.dataInicio}" />
            <td th:text="${evento_escolhido.horario}" />
            <td th:text="${evento_escolhido.descricao}">

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>