<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style_login.css}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/af46ebb8cd.js" crossorigin="anonymous"></script>

    <title>Evento Especifico</title>
</head>

<body>

<div class="container">

    <h3>Evento Escolhido</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Lugar</th>
            <th>Data</th>
            <th>Horario</th>
            <th>Descrição</th>
        </tr>
        </thead>

        <tbody>
        <tr >
            <td th:text="${evento_escolhido.nome}" />
            <td th:text="${evento_escolhido.lugar}" />
            <td th:text="${evento_escolhido.dataInicio}" />
            <td th:text="${evento_escolhido.horario}" />
            <td th:text="${evento_escolhido.descricao}">
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/evento123}" th:object="${evento_escolhido}" method="POST">

<!--        Fazer assim ou passar somente o id e pesquisar por is no controller

            não deu certo fzr passando tudo porquê da conflito entre os formatos de horario da classe Evento e a
            tabela do banco dedados eventos
-->

    <!--    <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{horario}" />
        <input type="hidden" th:field="*{lugar}" />
        <input type="hidden" th:field="*{nome}" />
        <input type="hidden" th:field="*{dataInicio}" />
        <input type="hidden" th:field="*{descricao}" />-->



        <input type="hidden" th:field="*{id}" />

        <div class="input-group input-group-lg">
            <input type="text" name="pin" th:value="${pin}" placeholder="Digite seu PIN" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn" id="botao-logar" style="color: white">Confirmar presença</button>
            </div>
        </div>
    </form>



    <!--<form action="#" th:action="@{/avaliacao/salvar}" th:object="${avaliacao}" method="POST" class="form-group">


        <div class="form-group">
            <h6><label for="positivos">O que você mais curtiu durante sua hospedagem?</label></h6>
            <input type="text" th:field="*{avaliacao_positiva}" class="form-control" id="positivos" placeholder="Digite aqui">
        </div>

        <div class="form-group">
            <h6><label for="negativos">O que poderia melhorar?</label></h6>
            <input class="form-control" type="text" th:field="*{avaliacao_negativa}" id="negativos" placeholder="Digite aqui">
        </div>

        <div class="form-group">
            <h6><label for="meurange">De 1 a 10, que nota você atribuiria à sua hospedagem?</label></h6>
            <input class="form-control-range custom-range" type="range"
                   id="meurange" min="1" max="10" th:field="*{nota}">
        </div>

        <input id="btn-roxo" class="btn btn-block mt-5" type="submit" value="Enviar">


        <h6 style="text-align: center;" class="mt-2">
            <a th:href="@{/index}">sair sem avaliar</a>
        </h6>

    </form>-->

    <!--<form action="#" th:action="@{/employees/save}"
              th:object="${employee}" method="POST">

          &lt;!&ndash; Add hidden form field to handle update &ndash;&gt;
          <input type="hidden" th:field="*{id}" />

          <input type="text" th:field="*{firstName}"
                 class="form-control mb-4 w-25" placeholder="First name">

          <input type="text" th:field="*{lastName}"
                 class="form-control mb-4 w-25" placeholder="Last name">

          <input type="text" th:field="*{email}"
                 class="form-control mb-4 w-25" placeholder="Email">

          <button type="submit" class="btn btn-info col-2">Save</button>

        </form>-->

</div>

</body>
</html>