body {
    background: #FFF;
    font-family: Helvetica,Arial, sans-serif;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid;
    border-color: #7c26f8;
}

.navbar-light .navbar-nav .nav-link {
    color: #7c26f8;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #351a57;
}

.navbar-light .navbar-toggler {
    color: #7c26f8;
    border-color: #7c26f8;
}

.divisor {
    width: 1px;
    background: #7c26f8;
    margin: 10px 21px 10px 12px;
}

#btn-navbar {
    background: #7c26f8;
    color: white;
}


#btn-navbar:hover {
    background: #351a57;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #7c26f8;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h5, h4{
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #7c26f8;
}

@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 2em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}

.capa {
    margin-top: 160px;
    margin-bottom: 58px;
}

.capa form {
    margin-top: 25px;
}

.capa span, .capa label {
    color: #7c26f8;
}

h6 a {
    color: #7c26f8;
}

h6 a:hover {
    color: #351a57;
    text-decoration: underline;
}

footer {
    border-top: 1px solid;
    border-color: #7c26f8;
    background: rgba(255, 255, 255, 1.0);
    padding: 20px 0px 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: #7c26f8;
    font-size: 0.8em;
}

#redes a {
    color: #7c26f8;
    font-size: 0.8em;
    margin: 5px;
}

footer .navbar-nav a:hover {
    color: #351a57;
    text-decoration: none;
}

#redes a:hover {
    color: #351a57;
    font-size: 0.8em;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

@font-face {
    font-family: Super Sunday;
    src: url('../fonts/KGRedHands.ttf')
}


.brand p {
    color: #7c26f8;
    font-size: 2.5em;
    margin: 0px;
    padding: 0px;
    font-family: Super Sunday, sans-serif;
}

#btn-roxo {
    background: #7c26f8;
    color: white;
}


#btn-roxo:hover {
    transition: background 0.3s, color 0.4s;
    background: #351a57;
}

/*customizando range*/

.custom-range::-webkit-slider-thumb {
    background-color: #7c26f8 !important; /* Cor do controle de deslizamento em navegadores WebKit (Chrome, Safari, etc.) */
    border: 1px solid #7c26f8 !important; /* Borda do controle de deslizamento em navegadores WebKit */
}

.custom-range::-moz-range-thumb {
    background-color: #7c26f8 !important; /* Cor do controle de deslizamento em navegadores Mozilla (Firefox) */
    border: 1px solid #7c26f8 !important; /* Borda do controle de deslizamento em navegadores Mozilla */
}

.custom-range::-ms-thumb {
    background-color: #7c26f8 !important; /* Cor do controle de deslizamento em navegadores Microsoft (Internet Explorer, Edge) */
    border: 1px solid #7c26f8 !important; /* Borda do controle de deslizamento em navegadores Microsoft */
}

/* Estilos personalizados para a "barrinha" do controle de range */
.custom-range::-webkit-slider-runnable-track {
    background-color: #bc91fa; /* Cor da "barrinha" em navegadores WebKit */
}

.custom-range::-moz-range-track {
    background-color: #bc91fa; /* Cor da "barrinha" em navegadores Mozilla */
}

.custom-range::-ms-track {
    background-color: #bc91fa; /* Cor da "barrinha" em navegadores Microsoft */
}